* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: rgb(52, 147, 144)
}

/* Centers image*/
img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*Removes space between bullet point and text*/
span {
    position: relative;
    left: -10px;
  }

/*Centers list markers*/
ol, ul {
    list-style-position: inside;
}

h1, h2, p, li {
    text-align: center;
}

.index {
    color: rgb(30, 17, 210);
    font-weight: 100;
    width: 200px;
    margin: 16px auto;
    margin-bottom: 30px;
    background-color: #f88a9c;
}


.sushi {
    color: #f88a9c;
}

.potato, .chicken {
    color: orange;
}




