* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: rgb(52, 147, 144)
}

/* Centers image*/
img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*Removes space between bullet point and text*/
span {
    position: relative;
    left: -10px;
  }

/*Centers list markers*/
ol, ul {
    list-style-position: inside;
}

h1, h2, p, li {
    text-align: center;
}

/*Add background color to text and lists*/

ul.chicken, ol.chicken, p.chicken {
    background-color: rgb(143, 223, 223);
    color: black;
    width:1000px;
    margin: 0 auto;
}

ul.potato, ol.potato, p.potato {
    background-color: rgb(44, 65, 113);
    color: black;
    width: 1100px;
    margin: 0 auto;
}

ul.sushi, ol.sushi, p.sushi {
    background-color: rgb(47, 144, 123);
    color: black;
    width: 1100px;
    margin: 0 auto;
}



.index {
    color: rgb(30, 17, 210);
    font-weight: 100;
    width: 200px;
    margin: 16px auto;
    margin-bottom: 30px;
    background-color: #f88a9c;
}

.recipes {
    background-color: lightblue;
    width: 200px;
    margin: 0 auto;
}


.sushi {
    color: #f88a9c;
}

.potato, .chicken {
    color: orange;
}





