* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Centers image*/
img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    background-color: lavender;
}

/*Removes space between bullet point and text*/
span {
    position: relative;
    left: -10px;
  }

/*Centers list markers*/
ol, ul {
    list-style-position: inside;
}

h1, h2, p, li {
    text-align: center;
}

.index {
    color: green;
}

.sushi {
    color: #ffc0cb;
}

.potato, .chicken {
    color: orange;
}



